<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVEN BETTER POC Docker Compose with Spring Boot, MySQL, NGINX</title>
</head>
<body>
    <h1>EVEN BETTER POC Docker Compose with Spring Boot, MySQL, NGINX</h1>
    <p></p>
</body>
</html>
